# Webフレームワーク
fastapi==0.115.13

# FastAPIを動かすためのサーバー
uvicorn[standard]==0.34.3

# データベース操作のためのライブラリ (ORM)
sqlalchemy==2.0.41

# パスワードのハッシュ化（安全な保存）のため
passlib[bcrypt]==1.7.4

# JWT（アクセストークン）の生成・検証のため
python-jose[cryptography]==3.5.0

# .env ファイルを読み込むため
python-dotenv==1.1.1

# Form data parsing for OAuth2PasswordRequestForm
python-multipart==0.0.20
jaconv==0.4.0
pydantic==2.11.7

pytest==8.4.0
requests==2.32.4
httpx==0.26.0
